/* Author : Anjali Soman
Date : 07-02-2023 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.banner {
    background-image: url("../images/academy-banner.jpg");
    background-size: cover;
    height: 800px;
}
.heading-1 {
    font-weight: 900;
    font-size: 65px;
    color: #1e2531;
}
.logo img {
    width: 300px;
    height: 100px;
}
.description-specialities {
    background-color: #1e2531;
    color: #59c8cc;
    margin: 8% 8% 0 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 54%;
}
.description-specialities h2::before {
    content: "{ ";
    color: #f25ca7;
}
.description-specialities h2::after {
    content: " }";
    color: #f25ca7;
}
.module {
    background-image: url("../images/modulebg.jpg");
    background-size: cover;
    height: 800px;
}
.courses {
    flex-wrap: wrap;
}
.courses > div {
    width: 20%;
}
.speciality-1 {
    background-image: url("../images/testsbg.jpg");
    background-size: cover;
    width: 50%;
    height: 500px;
}
.speciality-2 {
    background-image: url("../images/intrvwbg.jpg");
    width: 50%;
    height: 500px;
    background-size: cover;
}
.join-us h1 {
    color: #181e22;
}
@media screen and (max-width: 576px) {
    .extra {
        display: none;
    }
    .banner {
        background-image: none;
        background-color: #c3c0c0;
    }
    .heading-1 {
        font-weight: 700;
        font-size: 30px;
    }

    .m-logo {
        margin: 0;
    }
    .logo img {
        width: 250px;
        height: 100px;
    }
    .description {
        position: static;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .description-img img {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .description-specialities {
        width: 97%;
        height: 55%;
        padding: 3%;
        position: static;
        margin: 5px auto;
    }
    .description-specialities > h2 {
        padding: 10px;
        margin: 0 10px;
        font-size: 13px;
    }
    .description-text {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    .description-text p {
        padding: 0;
        margin: 0;
    }
    .module {
        height: 600px;
    }
    .courses > div {
        width: 45%;
    }
    .speciality-1 {
        width: 100%;
        height: 250px;
    }
    .speciality-2 {
        width: 100%;
        height: 250px;
    }
    .bg p {
        font-size: 12px;
    }
    .j-button {
        width: 90%;
        padding: 5px;
        margin: 0 auto;
    }
    .j-button .address {
        width: 95%;
    }
    .office div {
        padding-bottom: 15px;
    }
    .office p {
        font-size: 15px;
    }
}
